table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 15px;

}

.edit {
    cursor: pointer;
}

thead{
    background-color: #cacdd0;
}

tbody{
    
    background-color: #ececec;
}